@import '~@alifd/next/variables.scss';

.loginWrap {
  width: 356px;
  margin: 0 auto;
  .logo {
    height: 30px;
  }
  .desc {
    margin: $s-6 $s-zero;
    color: $color-text1-2;
    font-size: 16px;
    cursor: pointer;
    .active {
      color: $color-text1-4;
      font-weight: $font-weight-3;
      font-size: 24px;
    }
  }
  .innerBeforeInput {
    margin-left: 10px;
    color: $color-text1-2;
  }
  .innerAfterInput {
    margin-right: 10px;
    color: $color-text1-2;
  }
  .sendCode {
    max-width: 70px;
    margin-right: 10px;
  }
  .infoLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    .infoLeft {
      color: $color-text1-3;
      font-size: 14px;
    }
    .link {
      color: $color-link-1;
      font-size: 14px;
      text-align: left;
    }
  }
  .submitBtn {
    width: 100%;
  }
}
